button {
    border: none;
    /*color: none;*/
    background-color: unset;

}

button:hover {
    /*background-color: rgb(216, 216, 216);*/
    cursor: pointer;
    /*background-color: unset;*/
    /*border: 1px solid black;*/
}
