.body {
  display: flex;
  justify-content: center;
  padding: 3em;
}

.organization {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  width: 70em;
  height: 50em;
  background-color: #f2f2f2;
}

.goal-container {
  display: flex;
  flex-direction: row;



}

.goal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 3em 0 4em;
  width: 7em;
  height: 4em;
  cursor: pointer;
  
}

.goal-selected {
  background-color: #dcdcdc;
}