/*
.addButton {
    background-color: gainsboro; 
    color: rgb(51, 51, 51);
    transition: all 1s ease-in;

}
*/
button:hover {
    background-color:'#00b289' ;
    color: 'whitesmoke';
}

.MuiInputBase-input {
    padding:  1em !important;
}

#descriptionID {
    height: inherit;
}